extends layout

block content
     form(method='POST' action='/new')
          div.form-group
            label(for='user') Your name  
            input#user.form-control(type='text', name='user')
          div.form-group
            label(for='text') Your message  
            textarea#text.form-control(type='text', placeholder='enter your message here' name='text')
          button.btn.btn-primary(type='submit') Send message
          br
          a(href='/') view messages