doctype html
html
  head
    title= 'Welcome'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1='This is a simple message board application built with Express'
    block content
